body { 
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
    background-color: #f4f4f4; 
   } 
   .container { 
    margin: auto; 
    padding-top: 15px; 
    padding-left: 15px; 
    padding-right: 15px; 
    padding-bottom: 50px; 
   } 
   .gallery { 
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 20px; 
   } 
   .gallery img { 
    width: 100%; 
    height: auto; 
    border: 2px solid #ccc; 
    border-radius: 8px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
   } 
   .gallery img:hover { 
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    border-color: #007BFF; 
   } 
   header { 
    background: #695959; 
    color: #fff; 
    padding-top: 30px; 
    min-height: 70px; 
    border-bottom: #77aaff 3px solid; 
    text-align: center; 
    text-transform: uppercase; 
} 
header a { 
 text-decoration: none; 
 color: #fff; 
 position: relative; 
 transition: color 0.3s ease, text-decoration 0.3s ease; 
} 
header a:hover { 
 color: #ddd; 
 text-decoration: underline; 
} 
footer { 
 padding: 8px; 
 background: #695959; 
 color: #fff; 
 margin-top: 20px; 
 border-top: #77aaff 3px solid; 
 text-align: right; 
} 
a { 
 min-width: 40px; 
 margin-right: 20px; 
 line-height: 42px; 
} 
.next{ 
 padding-left: 20px; 
 font-size: large; 
} 
.nav a { 
 padding: 14px 20px; 
 color: #322727; 
 text-decoration: none; 
 text-transform: uppercase; 
 transition: background-color 0.5s , transform 0.5s ; 
} 
.nav a:hover { 
 background-color: #c0c6d0; 
 transform: scale(1.2); 
}